* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* INICIO HEADER */

.desktop .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 50px;
  height: 50px;
  border: 2px solid;
}

.logo {
  border: 1px solid;
}
.search {
  border: 1px solid;
  width: 300px;
  box-sizing: content-box;
}

.buscador {
  position: relative;
  right: 30px;
  border: none;
}

#lupa {
  border: none;
  position: relative;
  top: 6px;
  left: 30px;
  background-color: #fff;
}
.menu {
  border: 1px solid;
}
/* FIN HEADER */

/* INICIO CAJA CATEGORIAS */
.contenedor {
  display: grid;
  grid-template-columns: 20% auto 20%;
}

.categorias {
  border: 2px solid black;
  padding-left: 30px;
  background-color: lightcoral;
}
/* FIN CAJA CATEGORIAS */

/* INICIO CAJA PRODUCTOS */
.ordenar {
  display: flex;
  justify-content: flex-end;
  background-color: blueviolet;
  padding-right: 15px;
}

#ord {
    border: none;
    background-color: transparent;
}

.productos {
  border: 2px solid black;
  box-sizing: content-box;
}

.producto {
  background-color: pink;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid;
}

.producto a {
  background-color: red;
  border: 1px solid;
  width: 200px;
  height: 200px;
  margin: 10px;
}
/* FIN CAJA PRODUCTOS */

/* INICIO CAJA ANUNCIOS */
.ads {
  background-color: blue;
  border: 2px solid black;
}

.ads img {
  width: 100%;
  height: 100%;
}
/* FIN CAJA ANUNCIOS */

/* INICIO DISEÑO CAJA DE PRODUCTOS */

.producto a:hover {
  background: pink;
  height: 250px;
  width: 200px;
  transition: .5s;
}

.producto a:hover > .imagen {
  background: pink;
  height: 150px;
  width: 180px;
  transition: .5s;
}

.producto .imagen { /* CAJA DE LA FOTO */
  border: 3px solid black;
  margin: auto;
  height: 100px;
  width: 180px;
}

.producto a .imagen img { /* enmarque de foto */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.producto button {
  position: relative;
  margin-left: 70px;
  margin-top: 45px;
  
}

/* FIN DISEÑO CAJA DE PRODUCTOS */